@import "../variables.scss";

.btn {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: white;
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: #ec1839;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.10);
}

.inc_dec {
  display: flex;
  justify-content: space-between;
}

.inc_dec .btn {
  font-size: 16px;
  font-weight: 300;
  padding: 12px 25px;
  border-radius: 20px;
}

.inc_dec .inc::before {
  content: '<';
}

.inc_dec .dec::after {
  content: '>';
}