<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <title>DAO</title>
</head>
<body ng-app="product-gui">
    <div class="container" ng-controller="appController">
        <div class="product_item">
            <table class="table">
                <thead>
                    <tr>
                        <td>id</td>
                        <td>Title</td>
                        <td>Price</td>
                        <td>Info</td>
                    </tr>
                </thead>
                <tbody>
                     <tr ng-repeat="p in products">
                        <td>{{p.id}}</td>
                        <td>{{p.title}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <button class="btn" ng-click="deletePage(p.id)">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="inc_dec">
                <button type="button" class="btn inc" ng-click="increment()"></button>
                <button ng-repeat="pageIndex in paginationArray" class="page-link" ng-click="loadProducts(pageIndex)">{{pageIndex}}</button>
                <button type="button" class="btn dec" ng-click="decrement()"></button>
            </div>
        </div>
        <div class="input__table">
            <form novalidate ng-submit="createNewProduct()">
                <div class="mb-3">
                    <label  class="form-label">Название</label>
                    <input type="text" class="form-control" placeholder="Название" ng-model="new_product.title">
                </div>
                <div class="mb-3">
                    <label  class="form-label">Цена</label>
                    <input type="text" class="form-control-price" placeholder="Цена" ng-model="new_product.price">
                </div>
                <button type="submit" class="btn-primary">Создать</button>
            </form>
        </div>
    </div>

</body>
</html>