:root {
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-black-900);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.product_item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid;
    border-color: var(--bg-black-50);
    border-spacing: 5px;
    border-radius: 20px;
}

.table {
    font-size: 16px;
}

.table thead td {
    color: var(--text-black-900);
    padding: 10px;
    background: var(--bg-black-50);
}

.table tbody td {
    color: var(--text-black-700);
    padding: 10px;
    background: var(--bg-black-100);
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: #ec1839;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.10);
}

.inc_dec {
    display: flex;
    justify-content: space-between;
}

.inc_dec .btn {
    font-size: 16px;
    font-weight: 300;
    padding: 12px 25px;
    border-radius: 20px;
}

.inc_dec .inc::before {
    content: '<';
}

.inc_dec .dec::after {
    content: '>';
}

.page-link {
    font-size: 16px;
    font-weight: 100;
    padding: 15px 25px;
    color: white;
    border-radius: 40px;
    border: none;
    background: #ec1839;
    transition: all 0.3s ease;
}

.input__table {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -80%);
}
.mb-3 {
    color: white;
}

.form-label {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

.form-control-price {
    margin-left: 29px;
}


